@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@600&family=Poppins:wght@500;600;700;800&display=swap");

@import "./SiteChat.scss";
@import "./Header.scss";

:root {
  --max-width: 1100px;
}

.card__item-enter {
  opacity: 0;
  transform: translateY(500px);
}
.card__item-enter-active {
  opacity: 1;
  transform: translateY(0px);
  transition: all 0.4s;
}
.card__item-exit {
  opacity: 1;
  transform: translateY(0px);
}
.card__item-exit-active {
  opacity: 0;
  transform: translateY(500px);
  transition: all 0.4s;
}

.result-collection-enter {
  opacity: 0;
  transform: translateY(20px);
}
.result-collection-enter-active {
  opacity: 1;
  transform: translateY(0px);
  transition: all 0.4s;
}
.result-collection-exit {
  opacity: 1;
  transform: translateY(0px);
}
.result-collection-exit-active {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.4s;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

html,
body {
  max-width: 100%;
  background: rgb(25, 28, 31);
  color: #fff;
  font-family: "Poppins";
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input[type="text"]:disabled {
  cursor: pointer;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}

.sort__result {
  position: absolute;
  top: 40px;
  left: 0px;
  width: 100%;
  background-color: rgb(36, 37, 47);
  border-radius: 6px;
  z-index: 999;
  border: 1px solid rgba(255, 255, 255, 0.2);
  filter: drop-shadow(0 0 0.2rem rgba(255, 255, 255, 0.2));

  .sort__wrapper {
    display: flex;
    flex-direction: column;
    padding: 10px;

    .items-center {
      padding: 8px 10px;
      position: relative;

      &:hover {
        cursor: pointer;
        &::after {
          opacity: 1;
          transform: scale(1);
        }
      }

      &::after {
        content: "";
        transition: all 0.15s ease-in-out 0s;
        position: absolute;
        inset: 0px;
        opacity: 0;
        transform: scale(0.9);
        border-radius: 16px;
        background: rgba(255, 255, 255, 0.04);
        z-index: 2;
      }
    }
  }
}

.isLoading {
  animation: 1.5s ease-in-out 0.5s infinite normal none running
    animation-loading;
  background: rgba(255, 255, 255, 0.2) !important;
}

.loading-data {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 50%;

  transform: translate(0%, -50%);
}

.not-found {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;

  position: absolute;
  top: 50%;

  transform: translate(0%, -50%);

  img {
    width: 10%;
    height: 10%;
    object-fit: cover;
    border-radius: 12px;
    margin-left: 50px;
  }

  .contents {
    text-align: center;

    h3 {
      font-size: 1.6em;
      margin-bottom: 0.48em;
    }
    span {
      color: rgba(255, 255, 255, 0.6);
      font-size: 1.1em;
    }
  }
}

.card__container {
  .card__wrapper {
    flex-direction: column;
    vertical-align: inherit;
    max-width: 100%;
    min-height: 0px;
    min-width: 0px;
    flex-shrink: 0;
    flex-basis: auto;
    display: flex;
    -webkit-box-align: stretch;
    align-items: stretch;

    border-width: 0px;
    border-style: solid;
    border-color: rgb(255, 255, 255);

    .card__link {
      transition: all 0.15s ease-in-out 0s;
      will-change: transform;
      -webkit-box-flex: 1;
      flex-grow: 1;
      height: 100%;
      padding: 8px;
      background: transparent;
      border: 1px solid rgba(255, 255, 255, 0.08);
      border-radius: 16px;
      text-decoration: none;
      color: rgb(255, 255, 255);
      flex-flow: column;

      vertical-align: inherit;
      max-width: 100%;
      min-height: 0px;
      min-width: 0px;
      flex-shrink: 0;
      flex-direction: column;
      flex-basis: auto;
      display: flex;
      -webkit-box-align: stretch;
      align-items: stretch;

      &:hover,
      &:focus {
        transform: translateY(-3px);
        border-color: transparent;
        box-shadow: rgba(255, 255, 255, 0.04) 0px 0px 0px 3px;
        cursor: pointer;

        .card__image {
          .card__hidden {
            opacity: 1;
          }
        }
      }

      .card__image {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 100%;
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.04);
        backface-visibility: hidden;
        transform: translate3d(0px, 0px, 0px);

        border-width: 0px;
        border-style: solid;
        border-color: rgb(255, 255, 255);

        vertical-align: inherit;
        max-width: 100%;
        min-height: 0px;
        min-width: 0px;
        flex-shrink: 0;
        flex-direction: column;
        flex-basis: auto;
        display: flex;
        -webkit-box-align: stretch;
        align-items: stretch;

        margin-bottom: 12px;

        img {
          opacity: 1;
          position: relative;

          object-fit: cover;
          width: 100%;
          height: 100%;
          min-height: 100%;
          transition: opacity 0.33s ease-in-out 0s;
          max-height: 100%;
          max-width: 100%;
          vertical-align: inherit;
        }

        .card__hidden {
          opacity: 0;
          position: absolute;
          inset: 0px;
          z-index: 1;
          transition: all 0.08s ease-in-out 0s;
          background: linear-gradient(
            rgba(0, 0, 0, 0) 0%,
            rgba(25, 28, 31, 0.3) 95%
          );

          .items-center {
            position: absolute;
            left: 4px;
            top: 4px;
            border-radius: 8px;
            padding: 4px 10px;
            color: rgba(255, 255, 255, 0.85);
            background: rgba(25, 28, 31, 0.4);

            &.token {
              right: 4px;
              left: unset;
              top: 4px;
            }
          }
        }
      }

      .card__info {
        position: relative;
        height: 124px;
        flex-grow: 1;

        vertical-align: inherit;
        max-width: 100%;
        min-height: 0px;
        min-width: 0px;
        flex-shrink: 0;
        flex-direction: column;
        flex-basis: auto;
        display: flex;
        align-items: stretch;

        .card__title {
          flex-grow: 1;
          max-width: 90%;
          padding: 0px 8px;
          flex-flow: column;
          margin-bottom: 2px;

          display: inline-flex;

          .card__titleTop {
            display: flex;
            align-items: center;
            gap: 6px;
          }

          .card__collection {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            max-width: 100%;
            font-family: inherit;
            font-weight: inherit;
            vertical-align: inherit;
            font-family: inherit;
            vertical-align: inherit;
            font-size: 13px;
            line-height: 20px;
            font-weight: 500;
            color: rgba(255, 255, 255, 0.6);
          }

          .card__nft {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            max-width: 100%;
            font-family: inherit;
            font-weight: inherit;
            vertical-align: inherit;
            font-family: inherit;
            vertical-align: inherit;
            font-size: 15px;
            line-height: 20px;
            font-weight: 500;
          }
        }

        .card__prize {
          padding: 6px 12px 12px 12px;
          height: 68px;
          background: rgba(255, 255, 255, 0.04);
          border-radius: 10px;
          flex-direction: column;
          display: flex;

          .flex-box {
            display: flex;
            justify-content: space-between;

            div {
              flex: 1;
              max-width: 100%;

              &:last-child {
                flex: 0.3;
              }

              span {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                max-width: 100%;
                font-family: inherit;
                vertical-align: inherit;
                font-size: 13px;
                line-height: 20px;
                font-weight: 500;
                color: rgba(255, 255, 255, 0.6);
              }
            }

            &.value {
              margin-top: 4px;
              div {
                display: inline-flex;

                span {
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  overflow: hidden;
                  max-width: 100%;
                  font-family: inherit;
                  vertical-align: inherit;
                  font-size: 13px;
                  line-height: 20px;
                  font-weight: 500;
                  color: #fff;
                }
              }
            }
          }
        }
      }
    }
  }
}

.total-found {
  color: rgba(255, 255, 255, 0.6);
  padding: 0px 20px;

  text-align: right;
}

.badge__count {
  position: absolute;
  top: -10px;
  left: -8px;
  width: 20px;
  height: 20px;
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(25, 28, 31);
  border-radius: 8px;
  font-weight: 700;
  font-size: 14px;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.8);
  z-index: 999;

  img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 200px;
    max-height: 200px;
  }
}

.input__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;

  &:nth-child(5) {
    margin-bottom: 30px;
  }

  .input__title {
    min-width: 120px;
    margin-bottom: 6px;
  }

  .input__wrapper {
    width: 100%;
    position: relative;
  }

  .input__input {
    width: 100%;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.08);
    color: rgba(255, 255, 255, 0.8);
  }
}

.notification__container {
  display: flex;
  z-index: 1;
  width: 100%;
  height: 56px;
  position: relative;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  transition: all 0.15s ease-in-out 0s;
  text-decoration: none;
  align-items: center;
  vertical-align: inherit;
  margin-bottom: 10px;

  .notification__wrapper {
    width: 100%;
    margin: 0px auto;

    -webkit-box-flex: 1;
    flex: 1 0 auto;
    vertical-align: inherit;
    max-width: 100%;
    min-height: 0px;
    min-width: 0px;
    flex-direction: column;
    display: flex;
    -webkit-box-align: stretch;
    align-items: stretch;

    .notification__inner {
      flex-flow: row nowrap;

      vertical-align: inherit;
      max-width: 100%;
      min-height: 0px;
      min-width: 0px;
      flex-shrink: 0;
      flex-direction: column;
      flex-basis: auto;
      display: flex;
      -webkit-box-align: stretch;
      align-items: stretch;

      .notification__content {
        --pause-on-hover: paused;
        --pause-on-click: running;

        overflow-x: hidden !important;
        display: flex !important;
        flex-direction: row !important;
        position: relative;
        width: 100%;
        transform: translate3d(0px, 0px, 0px);

        & > * {
          height: 56px;
        }

        .notification__main {
          --play: running;
          --direction: normal;
          --duration: 167.023s;
          --delay: 0s;
          --iteration-count: infinite;

          flex: 0 0 auto;
          min-width: 100%;
          z-index: 1;
          display: flex;
          flex-direction: row;
          align-items: center;
          animation: scroll var(--duration) linear var(--delay)
            var(--iteration-count);
          animation-play-state: var(--play);
          animation-delay: var(--delay);
          animation-direction: var(--direction);

          .notification__text {
            padding-right: 16px;

            &::before {
              content: "·";
              padding-right: 16px;
            }

            span {
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
              max-width: 100%;
              font-family: inherit;
              vertical-align: inherit;
              font-size: 15px;
              line-height: 22px;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}

.filters__container {
  padding: 20px;

  width: 100%;

  .filters__wrapper {
    display: flex;
    align-items: center;
    width: 100%;

    .filters__live {
      display: flex;
      align-items: center;
      margin-right: 40px;

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 48px;
        width: 48px;
        border: 1px solid transparent;
        min-width: auto;
        font-size: 14px;
        border-radius: 16px;
        background: rgba(255, 255, 255, 0.04);
        margin-right: 12px;
      }

      .texts {
        display: flex;
        flex-direction: column;

        span {
          &:first-child {
            font-family: inherit;
            vertical-align: inherit;
            font-size: 13px;
            line-height: 20px;
            font-weight: 700;
          }

          &:last-child {
            color: rgba(255, 255, 255, 0.6);
            font-family: inherit;
            vertical-align: inherit;
            font-size: 11px;
            line-height: 15px;
            font-weight: 500;
            white-space: nowrap;
          }
        }
      }
    }

    .filters__list {
      display: flex;
      align-items: center;
      gap: 4px;
      background: rgba(255, 255, 255, 0.04);
      border-radius: 16px;
      position: relative;

      .active {
        position: absolute;
        height: 40px;
        top: 6px;
        transition: all 0.15s ease-in-out 0s;
        border-radius: 14px;
        background: rgb(25, 28, 31);
      }

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        outline: none;
        border: none;
        background: transparent;
        z-index: 2;
      }
    }
  }
}

.filters__toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;
  white-space: nowrap;
  background: rgba(255, 255, 255, 0.04);
  height: 48px;
  border: 1px solid transparent;
  min-width: auto;
  font-size: 14px;
  border-radius: 16px;
  padding: 8px 18px;
  font-weight: 700;
  font-family: inherit;
  transition: all 0.15s ease-in-out 0s;
  transform-origin: center center;
  user-select: none;
  color: #fff;
  margin-right: 12px;

  &.mb-20 {
    margin-bottom: 20px;
    display: none;
  }
}

.filters__search {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 16px;

  background: rgba(255, 255, 255, 0.04);
  border: 1px solid transparent;
  transition: all 0.15s ease-in-out 0s;
  // overflow: hidden;
  min-height: 48px;
  padding: 8px 14px;
  border-radius: 16px;
  font-size: 14px;
  padding-left: 48px;

  &.aside {
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .icon {
    position: absolute;
    left: 0;
    top: 50%;
    width: 48px;
    height: 48px;
    transform: translate(0, -50%);

    display: flex;
    align-items: center;
    justify-content: center;
  }

  input {
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    color: rgba(255, 255, 255, 0.8);
    background: transparent;
    font-size: 16px;
    font-weight: 600;

    &::placeholder {
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

.filters {
  margin-right: 16px;
  top: 20px;
  max-width: 100%;
  width: 100%;
  border-radius: 16px;
  padding: 20px;
  overflow: hidden scroll;

  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
  }

  &::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: transparent;
  }

  &:hover {
    &::-webkit-scrollbar-thumb {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }

  .filters__rows {
    width: 100%;

    cursor: pointer;

    .wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      max-width: 100%;
      overflow: hidden;

      &.active,
      &:hover {
        background: rgba(255, 255, 255, 0.04);
        border-radius: 6px;
        border-bottom: 1px solid transparent;
      }

      span {
        user-select: none;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 100%;
      }

      .value {
        display: flex;
        align-items: center;
        gap: 4px;

        span {
          font-weight: 500;
          font-size: 12px;
          vertical-align: inherit;
          user-select: none;
        }
      }
    }

    &.traits {
      &:not(:last-child) {
        margin-bottom: 10px;
        padding-bottom: 10px;
      }
    }

    .filters__properties {
      overflow: hidden;
      margin-top: 20px;
      position: relative;
      max-height: 210px;
      height: 1520px;

      .filters__scroll {
        position: absolute;
        inset: 0px;
        overflow: hidden;
      }

      .filters__scroll-wrapper {
        position: absolute;
        inset: 0px;
        overflow: hidden scroll;
        margin-right: -17px;
      }

      .filters__option {
        &:hover,
        &:focus-visible {
          color: rgb(255, 255, 255);
        }

        & > :not(:last-child) {
          margin-bottom: 16px;
        }
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        text-align: left;
        user-select: none;
        color: rgba(255, 255, 255, 0.6);
        transition: all 0.15s ease-in-out 0s;

        background: transparent;
        border: none;
        cursor: pointer;
        line-height: normal;

        .filters__checkbox {
          align-items: center;
          flex-grow: 1;
          flex-shrink: 1;
          overflow: hidden;
          flex-flow: row nowrap;
          display: flex;
          max-width: calc(100% - 50px);

          .checkbox {
            & > :not(:last-child) {
              margin-right: 16px;
            }

            width: 100%;
            align-items: center;
            flex-grow: 1;
            flex-shrink: 1;
            overflow: hidden;
            display: flex;
            flex-flow: row nowrap;

            .checkbox__inner {
              & > :not(:last-child) {
                margin-right: 16px;
                cursor: pointer;
                text-align: left;
                background: transparent;
                border: none;
                line-height: normal;
              }

              input {
                border: 0px;
                clip: rect(0px, 0px, 0px, 0px);
                height: 1px;
                margin: -1px;
                overflow: hidden;
                padding: 0px;
                position: absolute;
                white-space: nowrap;
                width: 1px;

                display: none;
              }

              .checkbox__fake {
                flex-flow: row nowrap;
                display: flex;
                cursor: pointer;

                .checkbox__wrapper {
                  align-items: center;
                  justify-content: center;
                  border-radius: 3px;
                  opacity: 1;
                  border: 2px solid rgba(255, 255, 255, 0.08);
                  background: transparent;
                  width: 20px;
                  height: 20px;
                  position: relative;
                  transition: all 0.08s ease-in-out 0s;
                  color: transparent;
                  display: flex;
                  flex-direction: column;

                  &.active {
                    -webkit-box-align: center;
                    align-items: center;
                    -webkit-box-pack: center;
                    justify-content: center;
                    border-radius: 3px;
                    opacity: 1;
                    border: 2px solid transparent;
                    background: rgb(255, 255, 255);
                    width: 20px;
                    height: 20px;
                    position: relative;
                    transition: all 0.08s ease-in-out 0s;
                    color: rgb(25, 28, 31);
                  }

                  svg {
                    transition: all 0.15s ease-in-out 0s;
                  }
                }
              }

              .properties__name {
                font-family: inherit;
                vertical-align: inherit;
                font-size: 13px;
                line-height: 20px;
                font-weight: 500;
              }
            }
          }
        }
      }
    }
  }
}

.container {
  width: 100%;
  padding: 20px;

  .container__wrapper {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;

    .list {
      width: 100%;
    }
  }
}

.site-layout {
  width: 100%;
}

.site-layout__main {
  padding-top: 100px;
  min-height: calc(100vh - 80px);
  z-index: 10;
  position: relative;
  background: rgba(26, 28, 36, 1);

  .page-layout-relative {
    z-index: 10;
    position: relative;

    &.contain {
      padding-left: 0;
    }

    .page-layout-main {
      z-index: 10;
      position: relative;

      .page-layout-inner {
        min-height: calc(100vh - 80px);
      }

      .page-layout-footer {
        color: rgba(146, 147, 166, 1);
        display: flex;
        justify-content: center;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        background-color: rgba(22, 24, 31, 1);
        z-index: 20;
        width: 100%;
        padding: 0px 1.5625rem;
      }
    }
  }
}

.collections-result {
  position: absolute;
  top: 60px;
  left: 0px;
  border-radius: 6px;
  background-color: rgb(36, 37, 47);
  padding: 10px;
  width: 100%;

  .collection {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    position: relative;
    padding: 12px 20px;
    cursor: pointer;
    min-height: 74px;

    &:hover {
      &::after {
        opacity: 1;
        transform: scale(1);
      }
    }

    &::after {
      content: "";
      transition: all 0.15s ease-in-out 0s;
      position: absolute;
      inset: 0px;
      opacity: 0;
      transform: scale(0.9);
      border-radius: 16px;
      background: rgba(255, 255, 255, 0.04);
      z-index: 2;
    }

    .collection__image {
      min-width: 50px;
      min-height: 50px;
      max-width: 50px;
      max-height: 50px;
      width: 50px;
      height: 50px;
      margin-right: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 6px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 6px;
      }
    }

    .collection__info {
      display: flex;
      width: 100%;
      max-width: 100%;
      overflow: hidden;

      .collection__text {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-right: 30px;
        max-width: 100%;

        span {
          &:first-child {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            max-width: 100%;
            font-family: inherit;
            vertical-align: inherit;
            font-size: 15px;
            line-height: 22px;
            font-weight: 700;
          }
          &:last-child {
            color: rgba(255, 255, 255, 0.6);

            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            max-width: 100%;
            font-family: inherit;
            vertical-align: inherit;
            font-size: 13px;
            line-height: 20px;
            font-weight: 500;
          }
        }
      }

      .collection__prize {
        span {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          max-width: 100%;
          font-family: inherit;
          vertical-align: inherit;
          font-size: 15px;
          line-height: 22px;
          font-weight: 700;
          color: #fff;
        }
      }
    }
  }
}

.grid-data {
  display: grid;
  grid-gap: 16px;
  justify-content: space-between;
  grid-template-columns: repeat(6, 1fr);
  width: 100%;
  padding: 40px 12px;

  .grid-card {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;

    img {
      border-radius: 8px;
      opacity: 1;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: opacity 0.33s ease-in-out 0s;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .site-layout__main {
    .page-layout-relative {
      padding-left: 280px;
    }
  }
}

@media (max-width: 768px) {
  .grid-data {
    grid-template-columns: repeat(4, 1fr);
  }

  .filters__toggle {
    &.mb-20 {
      display: flex;
    }
  }

  .filters__container {
    border: none;
    .filters__wrapper {
      .filters__live {
        display: none;
      }
    }
  }
  .container {
    .container__wrapper {
      position: relative;
      .filters {
        position: fixed;
        z-index: 999;
        left: 0px;
        border-radius: 0px;
        top: 90px;
        width: 100%;

        backdrop-filter: blur(20px);
        background: rgba(25, 28, 31, 0.85);
        border: none;
        transform: translateX(0px);

        &.hidden {
          position: static;
          transform: translateX(-100%);
          width: 0px;
          padding: 0px;
          margin-right: 0px;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .grid-data {
    grid-template-columns: repeat(2, 1fr);
  }
  .filters__container {
    .filters__wrapper {
      flex-direction: column;
      gap: 10px;
      align-items: flex-start;

      .filters__search,
      .filters__list {
        display: none;
      }
    }
  }
}

@keyframes animation-loading {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes iSPxYa {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes loadingIcon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
